[data-page=".global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #4169E1;
}
[data-page=".global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #B22222;
}
[data-page=".global_menu"][data-itemid="welcome_item2"] > .bs-welcome-header {
  background-color: #9ACD32;
}
[data-page=".global_menu"][data-itemid="welcome_item3"] > .bs-welcome-header {
  background-color: #7B68EE;
}
[data-page=".global_menu"][data-itemid="welcome_item4"] > .bs-welcome-header {
  background-color: #6B8E23;
}
[data-page=".global_menu"][data-itemid="welcome_item5"] > .bs-welcome-header {
  background-color: #CD5C5C;
}
[data-page=".global_menu"][data-itemid="welcome_item6"] > .bs-welcome-header {
  background-color: #CFAE83;
}
[data-page=".global_menu"][data-itemid="welcome_item7"] > .bs-welcome-header {
  background-color: #9ACD32;
}
