<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		
		<div class="container r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel tbl_carrera view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_carrera_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_carrera}  r-vertical-field" data-fieldname="id_carrera" data-signal-error-for="id_carrera{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="id_carrera" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_id_carrera}">
		
		{BEGIN id_carrera_label}{$label tbl_carrera id_carrera }{END id_carrera_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$id_carrera_value}	</div>

		
</div>


{END id_carrera_fieldblock}
											
{BEGIN carrera_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_carrera}  r-vertical-field" data-fieldname="carrera" data-signal-error-for="carrera{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="carrera" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_carrera}">
		
		{BEGIN carrera_label}{$label tbl_carrera carrera }{END carrera_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$carrera_value}	</div>

		
</div>


{END carrera_fieldblock}
											
{BEGIN codigo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_codigo}  r-vertical-field" data-fieldname="codigo" data-signal-error-for="codigo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="codigo" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_codigo}">
		
		{BEGIN codigo_label}{$label tbl_carrera codigo }{END codigo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$codigo_value}	</div>

		
</div>


{END codigo_fieldblock}
											
{BEGIN estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_estado}  r-vertical-field" data-fieldname="estado" data-signal-error-for="estado{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="estado" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_estado}">
		
		{BEGIN estado_label}{$label tbl_carrera estado }{END estado_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$estado_value}	</div>

		
</div>


{END estado_fieldblock}
											
{BEGIN id_modalidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_modalidad}  r-vertical-field" data-fieldname="id_modalidad" data-signal-error-for="id_modalidad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="id_modalidad" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_id_modalidad}">
		
		{BEGIN id_modalidad_label}{$label tbl_carrera id_modalidad }{END id_modalidad_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$id_modalidad_value}	</div>

		
</div>


{END id_modalidad_fieldblock}
											
{BEGIN facultad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_facultad}  r-vertical-field" data-fieldname="facultad" data-signal-error-for="facultad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="facultad" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_facultad}">
		
		{BEGIN facultad_label}{$label tbl_carrera facultad }{END facultad_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$facultad_value}	</div>

		
</div>


{END facultad_fieldblock}
											
{BEGIN modalidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_modalidad}  r-vertical-field" data-fieldname="modalidad" data-signal-error-for="modalidad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="modalidad" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_modalidad}">
		
		{BEGIN modalidad_label}{$label tbl_carrera modalidad }{END modalidad_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$modalidad_value}	</div>

		
</div>


{END modalidad_fieldblock}
											
{BEGIN extension_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_extension}  r-vertical-field" data-fieldname="extension" data-signal-error-for="extension{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="extension" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_extension}">
		
		{BEGIN extension_label}{$label tbl_carrera extension }{END extension_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$extension_value}	</div>

		
</div>


{END extension_fieldblock}
											
{BEGIN id_extension_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_extension}  r-vertical-field" data-fieldname="id_extension" data-signal-error-for="id_extension{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="id_extension" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_id_extension}">
		
		{BEGIN id_extension_label}{$label tbl_carrera id_extension }{END id_extension_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$id_extension_value}	</div>

		
</div>


{END id_extension_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-button-item>
	<span class="dropdown">
		<button type="button" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" >
				<a  href="#" {$edit_page_button_attrs} >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
