<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		
		<div class="container r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tbl_distributivo_proyectos search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_distributivo_proyectos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_distributivo_proyectos}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_distributivo_proyectos" 
	
	data-signal-error-for="id_distributivo_proyectos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_distributivo_proyectos" >


	<label class="r-search-label control-label" for="{$labelfor_id_distributivo_proyectos}">
		{$label tbl_distributivo_proyectos id_distributivo_proyectos }	</label>
	<div class="r-search-option">
		{$searchtype_id_distributivo_proyectos}
	</div>
	<div class="r-search-field">
		{$id_distributivo_proyectos_editcontrol}	</div>
	<div class="r-search-field">
		{$id_distributivo_proyectos_editcontrol1}
	</div>
	
</div>

{END id_distributivo_proyectos_fieldblock}
											
{BEGIN cedula_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cedula}  r-horizontal-field form-horizontal" 
	
		data-fieldname="cedula" 
	
	data-signal-error-for="cedula{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="cedula" >


	<label class="r-search-label control-label" for="{$labelfor_cedula}">
		{$label tbl_distributivo_proyectos cedula }	</label>
	<div class="r-search-option">
		{$searchtype_cedula}
	</div>
	<div class="r-search-field">
		{$cedula_editcontrol}	</div>
	<div class="r-search-field">
		{$cedula_editcontrol1}
	</div>
	
</div>

{END cedula_fieldblock}
											
{BEGIN hrs_proyecto_vinculacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hrs_proyecto_vinculacion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="hrs_proyecto_vinculacion" 
	
	data-signal-error-for="hrs_proyecto_vinculacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="hrs_proyecto_vinculacion" >


	<label class="r-search-label control-label" for="{$labelfor_hrs_proyecto_vinculacion}">
		{$label tbl_distributivo_proyectos hrs_proyecto_vinculacion }	</label>
	<div class="r-search-option">
		{$searchtype_hrs_proyecto_vinculacion}
	</div>
	<div class="r-search-field">
		{$hrs_proyecto_vinculacion_editcontrol}	</div>
	<div class="r-search-field">
		{$hrs_proyecto_vinculacion_editcontrol1}
	</div>
	
</div>

{END hrs_proyecto_vinculacion_fieldblock}
											
{BEGIN hrs_docente_tutor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hrs_docente_tutor}  r-horizontal-field form-horizontal" 
	
		data-fieldname="hrs_docente_tutor" 
	
	data-signal-error-for="hrs_docente_tutor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="hrs_docente_tutor" >


	<label class="r-search-label control-label" for="{$labelfor_hrs_docente_tutor}">
		{$label tbl_distributivo_proyectos hrs_docente_tutor }	</label>
	<div class="r-search-option">
		{$searchtype_hrs_docente_tutor}
	</div>
	<div class="r-search-field">
		{$hrs_docente_tutor_editcontrol}	</div>
	<div class="r-search-field">
		{$hrs_docente_tutor_editcontrol1}
	</div>
	
</div>

{END hrs_docente_tutor_fieldblock}
											
{BEGIN hrs_docente_participante_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hrs_docente_participante}  r-horizontal-field form-horizontal" 
	
		data-fieldname="hrs_docente_participante" 
	
	data-signal-error-for="hrs_docente_participante{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="hrs_docente_participante" >


	<label class="r-search-label control-label" for="{$labelfor_hrs_docente_participante}">
		{$label tbl_distributivo_proyectos hrs_docente_participante }	</label>
	<div class="r-search-option">
		{$searchtype_hrs_docente_participante}
	</div>
	<div class="r-search-field">
		{$hrs_docente_participante_editcontrol}	</div>
	<div class="r-search-field">
		{$hrs_docente_participante_editcontrol1}
	</div>
	
</div>

{END hrs_docente_participante_fieldblock}
											
{BEGIN hrs_seguimiento_graduados_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hrs_seguimiento_graduados}  r-horizontal-field form-horizontal" 
	
		data-fieldname="hrs_seguimiento_graduados" 
	
	data-signal-error-for="hrs_seguimiento_graduados{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="hrs_seguimiento_graduados" >


	<label class="r-search-label control-label" for="{$labelfor_hrs_seguimiento_graduados}">
		{$label tbl_distributivo_proyectos hrs_seguimiento_graduados }	</label>
	<div class="r-search-option">
		{$searchtype_hrs_seguimiento_graduados}
	</div>
	<div class="r-search-field">
		{$hrs_seguimiento_graduados_editcontrol}	</div>
	<div class="r-search-field">
		{$hrs_seguimiento_graduados_editcontrol1}
	</div>
	
</div>

{END hrs_seguimiento_graduados_fieldblock}
											
{BEGIN hrs_supervision_pasantias_comunitario_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hrs_supervision_pasantias_comunitario}  r-horizontal-field form-horizontal" 
	
		data-fieldname="hrs_supervision_pasantias_comunitario" 
	
	data-signal-error-for="hrs_supervision_pasantias_comunitario{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="hrs_supervision_pasantias_comunitario" >


	<label class="r-search-label control-label" for="{$labelfor_hrs_supervision_pasantias_comunitario}">
		{$label tbl_distributivo_proyectos hrs_supervision_pasantias_comunitario }	</label>
	<div class="r-search-option">
		{$searchtype_hrs_supervision_pasantias_comunitario}
	</div>
	<div class="r-search-field">
		{$hrs_supervision_pasantias_comunitario_editcontrol}	</div>
	<div class="r-search-field">
		{$hrs_supervision_pasantias_comunitario_editcontrol1}
	</div>
	
</div>

{END hrs_supervision_pasantias_comunitario_fieldblock}
											
{BEGIN id_periodo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_periodo}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_periodo" 
	
	data-signal-error-for="id_periodo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="id_periodo" >


	<label class="r-search-label control-label" for="{$labelfor_id_periodo}">
		{$label tbl_distributivo_proyectos id_periodo }	</label>
	<div class="r-search-option">
		{$searchtype_id_periodo}
	</div>
	<div class="r-search-field">
		{$id_periodo_editcontrol}	</div>
	<div class="r-search-field">
		{$id_periodo_editcontrol1}
	</div>
	
</div>

{END id_periodo_fieldblock}
											
{BEGIN estado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estado}  r-horizontal-field form-horizontal" 
	
		data-fieldname="estado" 
	
	data-signal-error-for="estado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="estado" >


	<label class="r-search-label control-label" for="{$labelfor_estado}">
		{$label tbl_distributivo_proyectos estado }	</label>
	<div class="r-search-option">
		{$searchtype_estado}
	</div>
	<div class="r-search-field">
		{$estado_editcontrol}	</div>
	<div class="r-search-field">
		{$estado_editcontrol1}
	</div>
	
</div>

{END estado_fieldblock}
											
{BEGIN id_facultad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_facultad}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_facultad" 
	
	data-signal-error-for="id_facultad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="id_facultad" >


	<label class="r-search-label control-label" for="{$labelfor_id_facultad}">
		{$label tbl_distributivo_proyectos id_facultad }	</label>
	<div class="r-search-option">
		{$searchtype_id_facultad}
	</div>
	<div class="r-search-field">
		{$id_facultad_editcontrol}	</div>
	<div class="r-search-field">
		{$id_facultad_editcontrol1}
	</div>
	
</div>

{END id_facultad_fieldblock}
											
{BEGIN id_extension_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_extension}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_extension" 
	
	data-signal-error-for="id_extension{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="id_extension" >


	<label class="r-search-label control-label" for="{$labelfor_id_extension}">
		{$label tbl_distributivo_proyectos id_extension }	</label>
	<div class="r-search-option">
		{$searchtype_id_extension}
	</div>
	<div class="r-search-field">
		{$id_extension_editcontrol}	</div>
	<div class="r-search-field">
		{$id_extension_editcontrol1}
	</div>
	
</div>

{END id_extension_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
