<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		
		<div class="container r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tbl_institucion search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_institucion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_institucion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_institucion" 
	
	data-signal-error-for="id_institucion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_institucion" >


	<label class="r-search-label control-label" for="{$labelfor_id_institucion}">
		{$label tbl_institucion id_institucion }	</label>
	<div class="r-search-option">
		{$searchtype_id_institucion}
	</div>
	<div class="r-search-field">
		{$id_institucion_editcontrol}	</div>
	<div class="r-search-field">
		{$id_institucion_editcontrol1}
	</div>
	
</div>

{END id_institucion_fieldblock}
											
{BEGIN institucion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_institucion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="institucion" 
	
	data-signal-error-for="institucion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="institucion" >


	<label class="r-search-label control-label" for="{$labelfor_institucion}">
		{$label tbl_institucion institucion }	</label>
	<div class="r-search-option">
		{$searchtype_institucion}
	</div>
	<div class="r-search-field">
		{$institucion_editcontrol}	</div>
	<div class="r-search-field">
		{$institucion_editcontrol1}
	</div>
	
</div>

{END institucion_fieldblock}
											
{BEGIN telefono_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_telefono}  r-horizontal-field form-horizontal" 
	
		data-fieldname="telefono" 
	
	data-signal-error-for="telefono{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="telefono" >


	<label class="r-search-label control-label" for="{$labelfor_telefono}">
		{$label tbl_institucion telefono }	</label>
	<div class="r-search-option">
		{$searchtype_telefono}
	</div>
	<div class="r-search-field">
		{$telefono_editcontrol}	</div>
	<div class="r-search-field">
		{$telefono_editcontrol1}
	</div>
	
</div>

{END telefono_fieldblock}
											
{BEGIN email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-horizontal-field form-horizontal" 
	
		data-fieldname="email" 
	
	data-signal-error-for="email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="email" >


	<label class="r-search-label control-label" for="{$labelfor_email}">
		{$label tbl_institucion email }	</label>
	<div class="r-search-option">
		{$searchtype_email}
	</div>
	<div class="r-search-field">
		{$email_editcontrol}	</div>
	<div class="r-search-field">
		{$email_editcontrol1}
	</div>
	
</div>

{END email_fieldblock}
											
{BEGIN direccion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_direccion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="direccion" 
	
	data-signal-error-for="direccion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="direccion" >


	<label class="r-search-label control-label" for="{$labelfor_direccion}">
		{$label tbl_institucion direccion }	</label>
	<div class="r-search-option">
		{$searchtype_direccion}
	</div>
	<div class="r-search-field">
		{$direccion_editcontrol}	</div>
	<div class="r-search-field">
		{$direccion_editcontrol1}
	</div>
	
</div>

{END direccion_fieldblock}
											
{BEGIN responsable_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_responsable}  r-horizontal-field form-horizontal" 
	
		data-fieldname="responsable" 
	
	data-signal-error-for="responsable{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="responsable" >


	<label class="r-search-label control-label" for="{$labelfor_responsable}">
		{$label tbl_institucion responsable }	</label>
	<div class="r-search-option">
		{$searchtype_responsable}
	</div>
	<div class="r-search-field">
		{$responsable_editcontrol}	</div>
	<div class="r-search-field">
		{$responsable_editcontrol1}
	</div>
	
</div>

{END responsable_fieldblock}
											
{BEGIN telefono_responsable_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_telefono_responsable}  r-horizontal-field form-horizontal" 
	
		data-fieldname="telefono_responsable" 
	
	data-signal-error-for="telefono_responsable{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="telefono_responsable" >


	<label class="r-search-label control-label" for="{$labelfor_telefono_responsable}">
		{$label tbl_institucion telefono_responsable }	</label>
	<div class="r-search-option">
		{$searchtype_telefono_responsable}
	</div>
	<div class="r-search-field">
		{$telefono_responsable_editcontrol}	</div>
	<div class="r-search-field">
		{$telefono_responsable_editcontrol1}
	</div>
	
</div>

{END telefono_responsable_fieldblock}
											
{BEGIN email_responsable_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email_responsable}  r-horizontal-field form-horizontal" 
	
		data-fieldname="email_responsable" 
	
	data-signal-error-for="email_responsable{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="email_responsable" >


	<label class="r-search-label control-label" for="{$labelfor_email_responsable}">
		{$label tbl_institucion email_responsable }	</label>
	<div class="r-search-option">
		{$searchtype_email_responsable}
	</div>
	<div class="r-search-field">
		{$email_responsable_editcontrol}	</div>
	<div class="r-search-field">
		{$email_responsable_editcontrol1}
	</div>
	
</div>

{END email_responsable_fieldblock}
											
{BEGIN tipo_institucion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo_institucion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="tipo_institucion" 
	
	data-signal-error-for="tipo_institucion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="tipo_institucion" >


	<label class="r-search-label control-label" for="{$labelfor_tipo_institucion}">
		{$label tbl_institucion tipo_institucion }	</label>
	<div class="r-search-option">
		{$searchtype_tipo_institucion}
	</div>
	<div class="r-search-field">
		{$tipo_institucion_editcontrol}	</div>
	<div class="r-search-field">
		{$tipo_institucion_editcontrol1}
	</div>
	
</div>

{END tipo_institucion_fieldblock}
											
{BEGIN id_ciudad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_ciudad}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_ciudad" 
	
	data-signal-error-for="id_ciudad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="id_ciudad" >


	<label class="r-search-label control-label" for="{$labelfor_id_ciudad}">
		{$label tbl_institucion id_ciudad }	</label>
	<div class="r-search-option">
		{$searchtype_id_ciudad}
	</div>
	<div class="r-search-field">
		{$id_ciudad_editcontrol}	</div>
	<div class="r-search-field">
		{$id_ciudad_editcontrol1}
	</div>
	
</div>

{END id_ciudad_fieldblock}
											
{BEGIN estado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estado}  r-horizontal-field form-horizontal" 
	
		data-fieldname="estado" 
	
	data-signal-error-for="estado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="estado" >


	<label class="r-search-label control-label" for="{$labelfor_estado}">
		{$label tbl_institucion estado }	</label>
	<div class="r-search-option">
		{$searchtype_estado}
	</div>
	<div class="r-search-field">
		{$estado_editcontrol}	</div>
	<div class="r-search-field">
		{$estado_editcontrol1}
	</div>
	
</div>

{END estado_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
