<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		
		<div class="container r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel tbl_programa_vinculacion edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN codigo_programa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_codigo_programa}  r-vertical-field" 
	data-fieldname="codigo_programa" 
	data-signal-error-for="codigo_programa{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="codigo_programa" >


	<label class="r-edit-label control-label" for="{$labelfor_codigo_programa}">
		{BEGIN codigo_programa_label}{$label tbl_programa_vinculacion codigo_programa }{END codigo_programa_label}
	</label>
	<div class="r-edit-field">
		{$codigo_programa_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="codigo_programa">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END codigo_programa_fieldblock}
											
{BEGIN programa_vinculacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_programa_vinculacion}  r-vertical-field" 
	data-fieldname="programa_vinculacion" 
	data-signal-error-for="programa_vinculacion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="programa_vinculacion" >


	<label class="r-edit-label control-label" for="{$labelfor_programa_vinculacion}">
		{BEGIN programa_vinculacion_label}{$label tbl_programa_vinculacion programa_vinculacion }{END programa_vinculacion_label}
	</label>
	<div class="r-edit-field">
		{$programa_vinculacion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="programa_vinculacion">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END programa_vinculacion_fieldblock}
											
{BEGIN descripcion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_descripcion}  r-vertical-field" 
	data-fieldname="descripcion" 
	data-signal-error-for="descripcion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="descripcion" >


	<label class="r-edit-label control-label" for="{$labelfor_descripcion}">
		{BEGIN descripcion_label}{$label tbl_programa_vinculacion descripcion }{END descripcion_label}
	</label>
	<div class="r-edit-field">
		{$descripcion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="descripcion">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END descripcion_fieldblock}
											
{BEGIN id_carrera_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_carrera}  r-vertical-field" 
	data-fieldname="id_carrera" 
	data-signal-error-for="id_carrera{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="id_carrera" >


	<label class="r-edit-label control-label" for="{$labelfor_id_carrera}">
		{BEGIN id_carrera_label}{$label tbl_programa_vinculacion id_carrera }{END id_carrera_label}
	</label>
	<div class="r-edit-field">
		{$id_carrera_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="id_carrera">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END id_carrera_fieldblock}
											
{BEGIN id_linea_investigacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_linea_investigacion}  r-vertical-field" 
	data-fieldname="id_linea_investigacion" 
	data-signal-error-for="id_linea_investigacion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="id_linea_investigacion" >


	<label class="r-edit-label control-label" for="{$labelfor_id_linea_investigacion}">
		{BEGIN id_linea_investigacion_label}{$label tbl_programa_vinculacion id_linea_investigacion }{END id_linea_investigacion_label}
	</label>
	<div class="r-edit-field">
		{$id_linea_investigacion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="id_linea_investigacion">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END id_linea_investigacion_fieldblock}
											
{BEGIN dominios_academicos_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dominios_academicos}  r-vertical-field" 
	data-fieldname="dominios_academicos" 
	data-signal-error-for="dominios_academicos{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="dominios_academicos" >


	<label class="r-edit-label control-label" for="{$labelfor_dominios_academicos}">
		{BEGIN dominios_academicos_label}{$label tbl_programa_vinculacion dominios_academicos }{END dominios_academicos_label}
	</label>
	<div class="r-edit-field">
		{$dominios_academicos_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="dominios_academicos">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END dominios_academicos_fieldblock}
											
{BEGIN plan_nacional_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_plan_nacional}  r-vertical-field" 
	data-fieldname="plan_nacional" 
	data-signal-error-for="plan_nacional{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="plan_nacional" >


	<label class="r-edit-label control-label" for="{$labelfor_plan_nacional}">
		{BEGIN plan_nacional_label}{$label tbl_programa_vinculacion plan_nacional }{END plan_nacional_label}
	</label>
	<div class="r-edit-field">
		{$plan_nacional_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="plan_nacional">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END plan_nacional_fieldblock}
											
{BEGIN politicas_vinculacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_politicas_vinculacion}  r-vertical-field" 
	data-fieldname="politicas_vinculacion" 
	data-signal-error-for="politicas_vinculacion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="politicas_vinculacion" >


	<label class="r-edit-label control-label" for="{$labelfor_politicas_vinculacion}">
		{BEGIN politicas_vinculacion_label}{$label tbl_programa_vinculacion politicas_vinculacion }{END politicas_vinculacion_label}
	</label>
	<div class="r-edit-field">
		{$politicas_vinculacion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="politicas_vinculacion">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END politicas_vinculacion_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancelar			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-button-item>
	<span class="dropdown">
		<button type="button" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" >
				<a  {$resetbutton_attrs} >
				
		Reiniciar		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" >
				<a  {$view_page_button_attrs} >
				
		Ver		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
