<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default
	bs-fullwidth-navbar
" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
			 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-brick="logo" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
				 
			 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-button-item>
	<span class="dropdown">
		<button type="button" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN exportselected_link}
	<li data-itemtype="export_selected" data-itemid="export_selected" {$item_export_selected} data-pageid="{$pageid}" >
				<a  href="#" {$exportselectedlink_attrs} {$exportselectedlink_span} >
				
		Exportar seleccionados		
		</a>
	</li>
{END exportselected_link}
							{BEGIN deleteselected_link}
	<li data-itemtype="delete_selected" data-itemid="delete_selected" {$item_delete_selected} data-pageid="{$pageid}" >
				<a  href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span} >
				
		Borrar articulos seleccionados		
		</a>
	</li>
{END deleteselected_link}
							<li role="separator" class="divider"></li>								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" >
				<a   href="tbl_persona_search.php" {$advsearchlink_attrs} >
				
		Búsqueda avanzada		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" >
				<a  id="showOptPanel{$id}" >
				
		Mostrar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" >
				<a  id="hideOptPanel{$id}" >
				
		Ocultar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" >
				<a  href="#" {$exportlink_attrs} >
				
		Exportar resultados		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>							{BEGIN import_link}
	<li data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" >
				<a  {$importlink_attrs} href="tbl_persona_import.php?{$crosstable_attrs}" >
				
		Importar		
		</a>
	</li>
{END import_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar todo">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
					</nav>
{END supertop_block}
				</div>	
			
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}		</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c3" data-pageid="{$pageid}"	{$cell_top_c3}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
	</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-left" {$blockattr_left} {$form_left} >
										{BEGIN left_block}
<table class="r-fluid r-form" data-location="left" id="form_left_{$pageid}" data-makeup="topbar" {$form_left} data-pageid="{$pageid}" >
						<tbody>
			
								<tr>
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c1" data-pageid="{$pageid}">
 
<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Búsqueda			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Mostrar opciones</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>todas las condiciones</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>cualquier condición</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>esconder</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_apellidos}


		<div class="form-group srchPanelRow {$filterRow_class_apellidos}" {$filterRow_attrs_apellidos}>
			<label>{$label tbl_persona apellidos }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_apellidos}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_apellidos}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_apellidos}</span>
						</div>
		{END searchCtrlBlock_apellidos}
																{BEGIN searchCtrlBlock_id_modalidad}


		<div class="form-group srchPanelRow {$filterRow_class_id_modalidad}" {$filterRow_attrs_id_modalidad}>
			<label>{$label tbl_persona id_modalidad }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_modalidad}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_modalidad}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_modalidad}</span>
						</div>
		{END searchCtrlBlock_id_modalidad}
																{BEGIN searchCtrlBlock_id_extension}


		<div class="form-group srchPanelRow {$filterRow_class_id_extension}" {$filterRow_attrs_id_extension}>
			<label>{$label tbl_persona id_extension }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_extension}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_extension}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_extension}</span>
						</div>
		{END searchCtrlBlock_id_extension}
																{BEGIN searchCtrlBlock_id_facultad}


		<div class="form-group srchPanelRow {$filterRow_class_id_facultad}" {$filterRow_attrs_id_facultad}>
			<label>{$label tbl_persona id_facultad }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_facultad}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_facultad}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_facultad}</span>
						</div>
		{END searchCtrlBlock_id_facultad}
																{BEGIN searchCtrlBlock_id_provincia}


		<div class="form-group srchPanelRow {$filterRow_class_id_provincia}" {$filterRow_attrs_id_provincia}>
			<label>{$label tbl_persona id_provincia }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_provincia}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_provincia}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_provincia}</span>
						</div>
		{END searchCtrlBlock_id_provincia}
																{BEGIN searchCtrlBlock_id_rol}


		<div class="form-group srchPanelRow {$filterRow_class_id_rol}" {$filterRow_attrs_id_rol}>
			<label>{$label tbl_persona id_rol }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_rol}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_rol}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_rol}</span>
						</div>
		{END searchCtrlBlock_id_rol}
																{BEGIN searchCtrlBlock_id_periodo}


		<div class="form-group srchPanelRow {$filterRow_class_id_periodo}" {$filterRow_attrs_id_periodo}>
			<label>{$label tbl_persona id_periodo }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_periodo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_periodo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_periodo}</span>
						</div>
		{END searchCtrlBlock_id_periodo}
																{BEGIN searchCtrlBlock_id_carrera}


		<div class="form-group srchPanelRow {$filterRow_class_id_carrera}" {$filterRow_attrs_id_carrera}>
			<label>{$label tbl_persona id_carrera }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_carrera}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_carrera}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_carrera}</span>
						</div>
		{END searchCtrlBlock_id_carrera}
																{BEGIN searchCtrlBlock_id_ciudad}


		<div class="form-group srchPanelRow {$filterRow_class_id_ciudad}" {$filterRow_attrs_id_ciudad}>
			<label>{$label tbl_persona id_ciudad }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_ciudad}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_ciudad}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_ciudad}</span>
						</div>
		{END searchCtrlBlock_id_ciudad}
																{BEGIN searchCtrlBlock_estado}


		<div class="form-group srchPanelRow {$filterRow_class_estado}" {$filterRow_attrs_estado}>
			<label>{$label tbl_persona estado }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_estado}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_estado}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_estado}</span>
						</div>
		{END searchCtrlBlock_estado}
																{BEGIN searchCtrlBlock_foto}


		<div class="form-group srchPanelRow {$filterRow_class_foto}" {$filterRow_attrs_foto}>
			<label>{$label tbl_persona foto }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_foto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_foto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_foto}</span>
						</div>
		{END searchCtrlBlock_foto}
																{BEGIN searchCtrlBlock_paralelo}


		<div class="form-group srchPanelRow {$filterRow_class_paralelo}" {$filterRow_attrs_paralelo}>
			<label>{$label tbl_persona paralelo }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_paralelo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_paralelo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_paralelo}</span>
						</div>
		{END searchCtrlBlock_paralelo}
																{BEGIN searchCtrlBlock_nivel}


		<div class="form-group srchPanelRow {$filterRow_class_nivel}" {$filterRow_attrs_nivel}>
			<label>{$label tbl_persona nivel }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_nivel}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_nivel}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_nivel}</span>
						</div>
		{END searchCtrlBlock_nivel}
																{BEGIN searchCtrlBlock_pass}


		<div class="form-group srchPanelRow {$filterRow_class_pass}" {$filterRow_attrs_pass}>
			<label>{$label tbl_persona pass }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_pass}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_pass}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_pass}</span>
						</div>
		{END searchCtrlBlock_pass}
																{BEGIN searchCtrlBlock_direccion}


		<div class="form-group srchPanelRow {$filterRow_class_direccion}" {$filterRow_attrs_direccion}>
			<label>{$label tbl_persona direccion }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_direccion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_direccion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_direccion}</span>
						</div>
		{END searchCtrlBlock_direccion}
																{BEGIN searchCtrlBlock_email}


		<div class="form-group srchPanelRow {$filterRow_class_email}" {$filterRow_attrs_email}>
			<label>{$label tbl_persona email }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_email}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_email}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_email}</span>
						</div>
		{END searchCtrlBlock_email}
																{BEGIN searchCtrlBlock_email_institucional}


		<div class="form-group srchPanelRow {$filterRow_class_email_institucional}" {$filterRow_attrs_email_institucional}>
			<label>{$label tbl_persona email_institucional }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_email_institucional}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_email_institucional}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_email_institucional}</span>
						</div>
		{END searchCtrlBlock_email_institucional}
																{BEGIN searchCtrlBlock_telefono}


		<div class="form-group srchPanelRow {$filterRow_class_telefono}" {$filterRow_attrs_telefono}>
			<label>{$label tbl_persona telefono }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_telefono}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_telefono}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_telefono}</span>
						</div>
		{END searchCtrlBlock_telefono}
																{BEGIN searchCtrlBlock_id_persona}


		<div class="form-group srchPanelRow {$filterRow_class_id_persona}" {$filterRow_attrs_id_persona}>
			<label>{$label tbl_persona id_persona }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_persona}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_persona}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_persona}</span>
						</div>
		{END searchCtrlBlock_id_persona}
																{BEGIN searchCtrlBlock_nro_matricula}


		<div class="form-group srchPanelRow {$filterRow_class_nro_matricula}" {$filterRow_attrs_nro_matricula}>
			<label>{$label tbl_persona nro_matricula }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_nro_matricula}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_nro_matricula}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_nro_matricula}</span>
						</div>
		{END searchCtrlBlock_nro_matricula}
																{BEGIN searchCtrlBlock_nombres}


		<div class="form-group srchPanelRow {$filterRow_class_nombres}" {$filterRow_attrs_nombres}>
			<label>{$label tbl_persona nombres }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_nombres}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_nombres}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_nombres}</span>
						</div>
		{END searchCtrlBlock_nombres}
																{BEGIN searchCtrlBlock_cedula}


		<div class="form-group srchPanelRow {$filterRow_class_cedula}" {$filterRow_attrs_cedula}>
			<label>{$label tbl_persona cedula }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_cedula}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_cedula}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_cedula}</span>
						</div>
		{END searchCtrlBlock_cedula}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>Mostrar todo</button>
	</div>
</div>
<!-- End Search panel content -->

</td>
							</tr>
											<tr>
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c2" data-pageid="{$pageid}">
 
<div data-itemtype="filter_panel" data-itemid="filter_panel" {$item_filter_panel} data-pageid="{$pageid}">
	<button type="button" class="btn btn-info bs-togglebutton bottom-margin collapsed" data-runner-toggle="collapse" data-target=".filterPanelContainer">	
		<span class="glyphicon glyphicon-filter"><span> Filter	
	</button>
	<div class="filterPanelContainer {$filterPanelStateClass}">



			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_id_extension}
		<div class="panel panel-info filter-field filter-id_extension-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label tbl_persona id_extension }</label>

				{BEGIN clearLink_id_extension}
				<a href="#" class="filter-clear filter-clear-id_extension">borrar</a>
				{END clearLink_id_extension}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_id_extension}
				<li class="list-group-item filter-values filter-values-id_extension {$collapsedClass_id_extension} {$visibilityClass_id_extension}">
					{$id_extension_filter}
								
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_id_extension}

							{BEGIN filter_button_showmore_id_extension}
				<li class="list-group-item filter-show-more {$collapsedClass_id_extension} {$showMoreBtnClass_id_extension}">
					<a class="filter-show-more-link filterShowMore_id_extension" href="#">{$show_n_more_id_extension}</a>
				</li>
				{END filter_button_showmore_id_extension}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_id_extension}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_id_carrera}
		<div class="panel panel-info filter-field filter-id_carrera-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label tbl_persona id_carrera }</label>

				{BEGIN clearLink_id_carrera}
				<a href="#" class="filter-clear filter-clear-id_carrera">borrar</a>
				{END clearLink_id_carrera}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_id_carrera}
				<li class="list-group-item filter-values filter-values-id_carrera {$collapsedClass_id_carrera} {$visibilityClass_id_carrera}">
					{$id_carrera_filter}
								
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_id_carrera}

							{BEGIN filter_button_showmore_id_carrera}
				<li class="list-group-item filter-show-more {$collapsedClass_id_carrera} {$showMoreBtnClass_id_carrera}">
					<a class="filter-show-more-link filterShowMore_id_carrera" href="#">{$show_n_more_id_carrera}</a>
				</li>
				{END filter_button_showmore_id_carrera}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_id_carrera}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_id_facultad}
		<div class="panel panel-info filter-field filter-id_facultad-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label tbl_persona id_facultad }</label>

				{BEGIN clearLink_id_facultad}
				<a href="#" class="filter-clear filter-clear-id_facultad">borrar</a>
				{END clearLink_id_facultad}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_id_facultad}
				<li class="list-group-item filter-values filter-values-id_facultad {$collapsedClass_id_facultad} {$visibilityClass_id_facultad}">
					{$id_facultad_filter}
								
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_id_facultad}

							{BEGIN filter_button_showmore_id_facultad}
				<li class="list-group-item filter-show-more {$collapsedClass_id_facultad} {$showMoreBtnClass_id_facultad}">
					<a class="filter-show-more-link filterShowMore_id_facultad" href="#">{$show_n_more_id_facultad}</a>
				</li>
				{END filter_button_showmore_id_facultad}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_id_facultad}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_id_rol}
		<div class="panel panel-info filter-field filter-id_rol-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label tbl_persona id_rol }</label>

				{BEGIN clearLink_id_rol}
				<a href="#" class="filter-clear filter-clear-id_rol">borrar</a>
				{END clearLink_id_rol}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_id_rol}
				<li class="list-group-item filter-values filter-values-id_rol {$collapsedClass_id_rol} {$visibilityClass_id_rol}">
					{$id_rol_filter}
								
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_id_rol}

							{BEGIN filter_button_showmore_id_rol}
				<li class="list-group-item filter-show-more {$collapsedClass_id_rol} {$showMoreBtnClass_id_rol}">
					<a class="filter-show-more-link filterShowMore_id_rol" href="#">{$show_n_more_id_rol}</a>
				</li>
				{END filter_button_showmore_id_rol}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_id_rol}
	 
	</div>
</div></td>
							</tr>
					
					</tbody>
				</table>
{END left_block}
						</div>
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN add_link}
<span data-itemtype="add" data-itemid="add" {$item_add} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-primary   
	" {$addlink_attrs} href="tbl_persona_add.php" >
							Añadir nuevo			</a>
</span>
{END add_link}
	 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Añadir nuevo			</a>
</span>
{END inlineadd_link}
	 
		{BEGIN deleteselected_link}
<span data-itemtype="delete" data-itemid="delete" {$item_delete} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled >
							Borrar artículos seleccionados			</a>
</span>
{END deleteselected_link}
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" >
{$records_indicator}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>		</div>					</div>
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media (max-width: 767px) {
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id_persona"]:before {
		content: "{$label tbl_persona id_persona}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="cedula"]:before {
		content: "{$label tbl_persona cedula}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="nro_matricula"]:before {
		content: "{$label tbl_persona nro_matricula}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="nombres"]:before {
		content: "{$label tbl_persona nombres}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="apellidos"]:before {
		content: "{$label tbl_persona apellidos}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="telefono"]:before {
		content: "{$label tbl_persona telefono}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="email_institucional"]:before {
		content: "{$label tbl_persona email_institucional}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="email"]:before {
		content: "{$label tbl_persona email}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="direccion"]:before {
		content: "{$label tbl_persona direccion}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="pass"]:before {
		content: "{$label tbl_persona pass}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="nivel"]:before {
		content: "{$label tbl_persona nivel}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="paralelo"]:before {
		content: "{$label tbl_persona paralelo}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="foto"]:before {
		content: "{$label tbl_persona foto}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="estado"]:before {
		content: "{$label tbl_persona estado}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id_ciudad"]:before {
		content: "{$label tbl_persona id_ciudad}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id_carrera"]:before {
		content: "{$label tbl_persona id_carrera}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id_periodo"]:before {
		content: "{$label tbl_persona id_periodo}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id_rol"]:before {
		content: "{$label tbl_persona id_rol}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id_provincia"]:before {
		content: "{$label tbl_persona id_provincia}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id_facultad"]:before {
		content: "{$label tbl_persona id_facultad}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id_extension"]:before {
		content: "{$label tbl_persona id_extension}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id_modalidad"]:before {
		content: "{$label tbl_persona id_modalidad}";
	}
	
}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  bs-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" data-brick="grid"
	data-body-height="2"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								bs-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
				 
					{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
				 
					{BEGIN cellblock_grid_headcell_details}
	<th
	
	{$cell_grid_headcell_details}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_details" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_headcell_details}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$foto_class}
			"

			data-field="foto"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN foto_fieldheadercolumn}
	{BEGIN foto_fieldheader}
	<SPAN {$foto_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="foto">
	{$label tbl_persona foto }	{$arrow_icon_foto}
	</SPAN>
	{END foto_fieldheader}
{END foto_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$cedula_class}
			"

			data-field="cedula"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cedula_fieldheadercolumn}
	{BEGIN cedula_fieldheader}
	<SPAN {$cedula_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cedula">
	{$label tbl_persona cedula }	{$arrow_icon_cedula}
	</SPAN>
	{END cedula_fieldheader}
{END cedula_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$nro_matricula_class}
			"

			data-field="nro_matricula"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nro_matricula_fieldheadercolumn}
	{BEGIN nro_matricula_fieldheader}
	<SPAN {$nro_matricula_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nro_matricula">
	{$label tbl_persona nro_matricula }	{$arrow_icon_nro_matricula}
	</SPAN>
	{END nro_matricula_fieldheader}
{END nro_matricula_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$apellidos_class}
			"

			data-field="apellidos"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN apellidos_fieldheadercolumn}
	{BEGIN apellidos_fieldheader}
	<SPAN {$apellidos_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="apellidos">
	{$label tbl_persona apellidos }	{$arrow_icon_apellidos}
	</SPAN>
	{END apellidos_fieldheader}
{END apellidos_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$nombres_class}
			"

			data-field="nombres"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nombres_fieldheadercolumn}
	{BEGIN nombres_fieldheader}
	<SPAN {$nombres_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nombres">
	{$label tbl_persona nombres }	{$arrow_icon_nombres}
	</SPAN>
	{END nombres_fieldheader}
{END nombres_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$telefono_class}
			"

			data-field="telefono"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN telefono_fieldheadercolumn}
	{BEGIN telefono_fieldheader}
	<SPAN {$telefono_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="telefono">
	{$label tbl_persona telefono }	{$arrow_icon_telefono}
	</SPAN>
	{END telefono_fieldheader}
{END telefono_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$id_extension_class}
			"

			data-field="id_extension"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_extension_fieldheadercolumn}
	{BEGIN id_extension_fieldheader}
	<SPAN {$id_extension_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_extension">
	{$label tbl_persona id_extension }	{$arrow_icon_id_extension}
	</SPAN>
	{END id_extension_fieldheader}
{END id_extension_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$id_facultad_class}
			"

			data-field="id_facultad"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_facultad_fieldheadercolumn}
	{BEGIN id_facultad_fieldheader}
	<SPAN {$id_facultad_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_facultad">
	{$label tbl_persona id_facultad }	{$arrow_icon_id_facultad}
	</SPAN>
	{END id_facultad_fieldheader}
{END id_facultad_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$id_carrera_class}
			"

			data-field="id_carrera"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_carrera_fieldheadercolumn}
	{BEGIN id_carrera_fieldheader}
	<SPAN {$id_carrera_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_carrera">
	{$label tbl_persona id_carrera }	{$arrow_icon_id_carrera}
	</SPAN>
	{END id_carrera_fieldheader}
{END id_carrera_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
				 
					{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$nivel_class}
			"

			data-field="nivel"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nivel_fieldheadercolumn}
	{BEGIN nivel_fieldheader}
	<SPAN {$nivel_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nivel">
	{$label tbl_persona nivel }	{$arrow_icon_nivel}
	</SPAN>
	{END nivel_fieldheader}
{END nivel_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
				 
					{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$paralelo_class}
			"

			data-field="paralelo"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN paralelo_fieldheadercolumn}
	{BEGIN paralelo_fieldheader}
	<SPAN {$paralelo_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="paralelo">
	{$label tbl_persona paralelo }	{$arrow_icon_paralelo}
	</SPAN>
	{END paralelo_fieldheader}
{END paralelo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
				 
					{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$estado_class}
			"

			data-field="estado"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN estado_fieldheadercolumn}
	{BEGIN estado_fieldheader}
	<SPAN {$estado_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="estado">
	{$label tbl_persona estado }	{$arrow_icon_estado}
	</SPAN>
	{END estado_fieldheader}
{END estado_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
							</tr>
					 
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								bs-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"		data-control-cell
	
	>

	 
		{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-button-item>
	<a type="button" class="btn-link   
	 glyphicon glyphicon-pencil" href="tbl_persona_edit.php?{$editlink}" {$editlink_attrs} title="Editar" >		
				
								</a>
</span>
{END edit_link}
{END edit_column}
	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-record-id="{$recId}" data-button-item>
	<a type="button" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Cancelar" >		
				
								</a>
</span>
{END inline_cancel}
	 
		{BEGIN view_column}
{BEGIN view_link}
<span data-itemtype="grid_view" data-itemid="grid_view" {$item_grid_view} data-pageid="{$pageid}" data-record-id="{$recId}" data-button-item>
	<a type="button" class="btn-link   
	 glyphicon glyphicon-search" href="tbl_persona_view.php?{$editlink}" {$viewlink_attrs} title="Ver" >		
				
								</a>
</span>
{END view_link}
{END view_column}
	
	</td>
	{END cellblock_grid_cell_icons}
				 
					{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
				 
					{BEGIN cellblock_grid_cell_details}
	<td
	
	{$cell_grid_cell_details}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_details" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"		data-control-cell
	
	>

	 
			 
		
	{BEGIN dtables_link}
				<a 
			data-itemtype="grid_details_link" data-itemid="grid_details_link" {$item_grid_details_link} data-pageid="{$pageid}" data-record-id="{$recId}" 
			{$tbl_distributivo_proyectos_link_attrs} 
			class="{$dtables_link_class} details-badge badge tbl_distributivo_proyectos_badge" 
			title="Mostrar detalles"
		>
							<span class="glyphicon glyphicon-th-list"></span>
									<span class="{$tbl_distributivo_proyectos_cntspan_class}" {$tbl_distributivo_proyectos_childnumber_attr}>
				{$tbl_distributivo_proyectos_childnumber}				
			</span>
		</a>
	{END dtables_link}





	
	</td>
	{END cellblock_grid_cell_details}
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$foto_class}
			"

			data-field="foto"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN foto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="foto" >
{$foto_value}
</span>
{END foto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$cedula_class}
			"

			data-field="cedula"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cedula_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cedula" >
{$cedula_value}
</span>
{END cedula_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$nro_matricula_class}
			"

			data-field="nro_matricula"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nro_matricula_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nro_matricula" >
{$nro_matricula_value}
</span>
{END nro_matricula_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$apellidos_class}
			"

			data-field="apellidos"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN apellidos_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="apellidos" >
{$apellidos_value}
</span>
{END apellidos_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$nombres_class}
			"

			data-field="nombres"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nombres_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nombres" >
{$nombres_value}
</span>
{END nombres_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$telefono_class}
			"

			data-field="telefono"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN telefono_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="telefono" >
{$telefono_value}
</span>
{END telefono_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$id_extension_class}
			"

			data-field="id_extension"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_extension_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_extension" >
{$id_extension_value}
</span>
{END id_extension_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$id_facultad_class}
			"

			data-field="id_facultad"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_facultad_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_facultad" >
{$id_facultad_value}
</span>
{END id_facultad_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$id_carrera_class}
			"

			data-field="id_carrera"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_carrera_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_carrera" >
{$id_carrera_value}
</span>
{END id_carrera_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
				 
					{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$nivel_class}
			"

			data-field="nivel"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nivel_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nivel" >
{$nivel_value}
</span>
{END nivel_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
				 
					{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$paralelo_class}
			"

			data-field="paralelo"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN paralelo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="paralelo" >
{$paralelo_value}
</span>
{END paralelo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
				 
					{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$estado_class}
			"

			data-field="estado"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN estado_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="estado" >
{$estado_value}
</span>
{END estado_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
							</tr>
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
								
							">
				 
					{BEGIN cellblock_grid_cell_dpreview}
	<td
	
	{$cell_grid_cell_dpreview}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_dpreview" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
			<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" data-record-id="{$recId}" 
	data-orders="tbl_distributivo_proyectos"
			data-details-tbl_distributivo_proyectos	>
		<span data-details-inside data-short-table="tbl_distributivo_proyectos">
			</span>
		<div data-details-preview>
	</div>
</div>
	
	</td>
	{END cellblock_grid_cell_dpreview}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
			{BEGIN totals_row}
					
		 
					 
					 
					 
						<tr {$rowattrs} {$row_grid_3} class="{$rowclass} 
									{$gridFooter_class}
									
								bs-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
				 
					{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
				 
					{BEGIN cellblock_grid_footcell_details}
	<td
	
	{$cell_grid_footcell_details}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_details" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_details}
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
				 
					{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
				 
					{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
				 
					{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_persona_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
							</tr>
					
					{END totals_row}
			</tfoot>
				</table>
{END grid_block}
							</div>
						
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
							
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
