<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		
		<div class="container r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel tbl_convenio edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN convenio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_convenio}  r-vertical-field" 
	data-fieldname="convenio" 
	data-signal-error-for="convenio{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="convenio" >


	<label class="r-edit-label control-label" for="{$labelfor_convenio}">
		{BEGIN convenio_label}{$label tbl_convenio convenio }{END convenio_label}
	</label>
	<div class="r-edit-field">
		{$convenio_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="convenio">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END convenio_fieldblock}
											
{BEGIN objeto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_objeto}  r-vertical-field" 
	data-fieldname="objeto" 
	data-signal-error-for="objeto{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="objeto" >


	<label class="r-edit-label control-label" for="{$labelfor_objeto}">
		{BEGIN objeto_label}{$label tbl_convenio objeto }{END objeto_label}
	</label>
	<div class="r-edit-field">
		{$objeto_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="objeto">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END objeto_fieldblock}
											
{BEGIN duracion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_duracion}  r-vertical-field" 
	data-fieldname="duracion" 
	data-signal-error-for="duracion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="duracion" >


	<label class="r-edit-label control-label" for="{$labelfor_duracion}">
		{BEGIN duracion_label}{$label tbl_convenio duracion }{END duracion_label}
	</label>
	<div class="r-edit-field">
		{$duracion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="duracion">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END duracion_fieldblock}
											
{BEGIN fecha_inicio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_inicio}  r-vertical-field" 
	data-fieldname="fecha_inicio" 
	data-signal-error-for="fecha_inicio{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="fecha_inicio" >


	<label class="r-edit-label control-label" for="{$labelfor_fecha_inicio}">
		{BEGIN fecha_inicio_label}{$label tbl_convenio fecha_inicio }{END fecha_inicio_label}
	</label>
	<div class="r-edit-field">
		{$fecha_inicio_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fecha_inicio">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END fecha_inicio_fieldblock}
											
{BEGIN fecha_fin_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_fin}  r-vertical-field" 
	data-fieldname="fecha_fin" 
	data-signal-error-for="fecha_fin{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="fecha_fin" >


	<label class="r-edit-label control-label" for="{$labelfor_fecha_fin}">
		{BEGIN fecha_fin_label}{$label tbl_convenio fecha_fin }{END fecha_fin_label}
	</label>
	<div class="r-edit-field">
		{$fecha_fin_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fecha_fin">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END fecha_fin_fieldblock}
											
{BEGIN tipo_convenio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo_convenio}  r-vertical-field" 
	data-fieldname="tipo_convenio" 
	data-signal-error-for="tipo_convenio{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="tipo_convenio" >


	<label class="r-edit-label control-label" for="{$labelfor_tipo_convenio}">
		{BEGIN tipo_convenio_label}{$label tbl_convenio tipo_convenio }{END tipo_convenio_label}
	</label>
	<div class="r-edit-field">
		{$tipo_convenio_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tipo_convenio">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END tipo_convenio_fieldblock}
											
{BEGIN documentos_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_documentos}  r-vertical-field" 
	data-fieldname="documentos" 
	data-signal-error-for="documentos{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="documentos" >


	<label class="r-edit-label control-label" for="{$labelfor_documentos}">
		{BEGIN documentos_label}{$label tbl_convenio documentos }{END documentos_label}
	</label>
	<div class="r-edit-field">
		{$documentos_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="documentos">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END documentos_fieldblock}
											
{BEGIN areas_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_areas}  r-vertical-field" 
	data-fieldname="areas" 
	data-signal-error-for="areas{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="areas" >


	<label class="r-edit-label control-label" for="{$labelfor_areas}">
		{BEGIN areas_label}{$label tbl_convenio areas }{END areas_label}
	</label>
	<div class="r-edit-field">
		{$areas_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="areas">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END areas_fieldblock}
											
{BEGIN id_institucion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_institucion}  r-vertical-field" 
	data-fieldname="id_institucion" 
	data-signal-error-for="id_institucion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="id_institucion" >


	<label class="r-edit-label control-label" for="{$labelfor_id_institucion}">
		{BEGIN id_institucion_label}{$label tbl_convenio id_institucion }{END id_institucion_label}
	</label>
	<div class="r-edit-field">
		{$id_institucion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="id_institucion">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END id_institucion_fieldblock}
											
{BEGIN estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_estado}  r-vertical-field" 
	data-fieldname="estado" 
	data-signal-error-for="estado{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="estado" >


	<label class="r-edit-label control-label" for="{$labelfor_estado}">
		{BEGIN estado_label}{$label tbl_convenio estado }{END estado_label}
	</label>
	<div class="r-edit-field">
		{$estado_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="estado">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END estado_fieldblock}
											
{BEGIN id_extension_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_extension}  r-vertical-field" 
	data-fieldname="id_extension" 
	data-signal-error-for="id_extension{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="id_extension" >


	<label class="r-edit-label control-label" for="{$labelfor_id_extension}">
		{BEGIN id_extension_label}{$label tbl_convenio id_extension }{END id_extension_label}
	</label>
	<div class="r-edit-field">
		{$id_extension_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="id_extension">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END id_extension_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancelar			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-button-item>
	<span class="dropdown">
		<button type="button" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" >
				<a  {$resetbutton_attrs} >
				
		Reiniciar		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" >
				<a  {$view_page_button_attrs} >
				
		Ver		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
